<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moja Aplikacija{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer style="position:relative; top:0; width:100%; background:#f1f1f1; padding:10px; text-align:center;">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Odjavi se</button>
            </form>
        {% endif %}
    </footer>
</body>
</html>
