<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cinema praksa{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <nav>
                <h2>Cinema praksa</h2>
                <ul>
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/register">Sign up</a></li>
                    <li><a href="/api/movies-template">Movies</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    {% endif %}
                    <li><a href="/api/fetch_cinema_data">Fetch data</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <button class="toggle-button" onclick="toggleSidebar()">☰ Menu</button>
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer>
        
    </footer>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('hidden');
        }
    </script>
</body>
</html>
